:root {
    --color-brand: #819B57;
    --color-brand-dark: #465929;
    --color-primary-light: #FAF4EA;
    --color-primary-dark: #31261A;
}

body {
    color: var(--color-primary-dark);
}

ul {
    list-style-type: none;
}

.button {
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 2px solid var(--color-brand);
    background: var(--color-brand);
    color: var(--color-primary-light);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: var(--color-brand-dark);
    border: 2px solid var(--color-brand);
    display: inline-flex;
    padding: 16px 32px;
    gap: 10px;
}

.link {
    color: var(--color-primary-light);
    font-size: 18px;
}

.link:hover {
    color: var(--color-brand);
}

.hero-title {
    color: var(--color-primary-light);
}

.hero-title .accent {
    color: var(--color-brand);
}

.advantages-list {
    background-color: var(--color-brand);
    color: var(--color-primary-light);
}

.section-title {
    color: var(--color-primary-dark);
}

.section-title .accent {
    color: var(--color-brand-dark);
}